body {
  font-family: "Arial", sans-serif;
  background-color: #333;
}

p#text {
  color: #ffffff;
}

#game-container {
  max-width: 800px;
  width: 100%;
  background-size: cover;
  box-sizing: border-box;
  margin: 10px auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#text-container {
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  box-sizing: border-box;
}

#button-container {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 20px;
  width: 100%;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #222;
  color: white;
  border: 1px solid #555;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}
